.app-header {
  background-color: #fff;
  height: 60px;
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: space-between;
  top: 0px;
  color: #000;
  z-index: 999;
  box-sizing: border-box;
  border-bottom: 1px solid #ededed;
}

mat-icon {
  cursor: pointer;
}

.app-logo-container {
  display: flex;
  align-items: center !important;
  justify-content: space-between;
}
.app-logo-container .logo {
  margin-top: 4px;
  margin-left: 5px;
}
